
<div class="container">
  <h1>Searching for - <%= @search_term %></h1>
  <table border="1">
    <tr>
      <th>
        <thumbnail>Image</thumbnail>
      </th>
      <th>Title</th>
      <th>Social_rank</th>
    </tr>
    <% @recipes.each do |recipe| %>
        <tr class=<%= cycle('even', 'odd') %>>
          <td><%= link_to image_tag(recipe["image_url"], size: "100x100"), recipe["source_url"] %> </td>
          <td><%= link_to sanitize(recipe["title"]), recipe["source_url"] %></td>
          <td><%= recipe["social_rank"].to_int %></td>
        </tr>
    <% end %>
  </table>
</div>
